/docs/sample-handout.aux
/docs/sample-handout.bib
/docs/sample-handout.log
/docs/sample-handout.out
/docs/sample-handout.synctex.gz
/docs/graphics/be-contents.pdf
/docs/graphics/be-title.pdf
/docs/graphics/ei-contents.pdf
/docs/graphics/ei-title.pdf
/docs/graphics/helix.asy
/docs/graphics/helix.pdf
/docs/graphics/hilbertcurves.pdf
/docs/graphics/hilbertrecursive.tex
/docs/graphics/nasa_vision_sm.png
/docs/graphics/satir_graph.png
/docs/graphics/sine.asy
/docs/graphics/sine.pdf
/docs/graphics/vdqi-contents.pdf
/docs/graphics/vdqi-title.pdf
/docs/graphics/ve-contents.pdf
/docs/graphics/ve-title.pdf
